<div class="content">
  <h1>Cursos</h1>
  <div class="main">
    <form class="form" [formGroup]="formGroupCourses" (ngSubmit)="addStudentCourse()">
      <mat-form-field class="field" appearance="outline">
        <mat-label>Nombre de curso</mat-label>
        <input required matInput placeholder="Nombres" formControlName="courseName">
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Código de Estudiante</mat-label>
        <input matInput type="number" placeholder="Código" required formControlName="studentId">
      </mat-form-field>
      <button class="submit" type="button" mat-raised-button disabled 
        *ngIf="studentId.invalid || courseName.invalid; else SubmitCourse"
      >Agregar Curso</button>
      <ng-template #SubmitCourse>
        <button class="submit" type="submit" mat-raised-button color="primary"
        >Agregar Curso</button>
      </ng-template>
    </form>
    <div>
      <h3>Lista de Cursos</h3>
      <mat-list>
        <mat-list-item *ngFor="let course of courses">
          {{course.studentId}} - {{course.courseName}}
        </mat-list-item>
      </mat-list>    
    </div>
  </div>

</div>